<div class="container">
  <form action="">
    <h3>Add a Link</h3>
    <div>
      <label for="title">Title:</label>
      <input id="title" name="title" type="text" #title />
    </div>
    <div>
      <label for="link">Link:</label>
      <input id="link" name="link" type="text" #link />
    </div>
    <button type="submit" (click)="addArticle(title, link)">Submit Link</button>
  </form>
  
  <div>
    <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
  </div>
</div>
<router-outlet></router-outlet>
